body {
    color: white;
    background-color: #131217;
    margin-left: 50px;
}

p {
    color: white;
    margin-left: 50px;
}

h1 {
    color: white;
    margin-left: 5px;
}

h2 {
    color: white;
    margin-left: 40px;
}

h3 {
    color: white;
    margin-left: 40px;
}

ul {
    color: white;
    margin-left: 30px;
}

table {
    color: white;
    margin-left: 50px;
}
